@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 32px;
  font-family: -apple-system-font,Helvetica Neue,sans-serif;
}
body{
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 1rem;
  line-height: 1.6;
  background-color: #ffffff;
}

.tablinks.active,
.tablinks:focus,
.tablinks:active{
  color: #1fb081;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.16rem;
}
