@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  box-sizing: border-box;
  margin: 0px;
  line-height: 1.6;
  font-family: -apple-system-font,Helvetica Neue,sans-serif;
  font-size: 20rem;
}

.tablinks.active,
.tablinks:focus,
.tablinks:active{
  color: #1fb081;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
  text-decoration-thickness: 0.2rem;
}
