.main{
  height:·100vh;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 29.1199px;
  padding-right: 29.1199px;
  padding-top: 0px;
}

.calcButton{
  background-color: #23c993;
  font-size: 28px;
  color:white;
  width: 100%;
  height: 98px;
  border-radius: 0.2rem;
  text-align: center;
  border: white solid 13px;
  position:fixed;
  bottom: 0px;
  z-index: 100;
}
.tab{
  display: grid;
  grid-template-columns: 3fr 7fr;
  align-items: center;
  padding-top: 42.6001px;
  margin-bottom: 25.56px;
}
.tabTittle{
  display: flex;
  font-size: 34px;
  font-weight: 450;
}
.tabButton{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 25px;
  font-weight: 450;
}
.form{
  font-size: 26px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 3fr 7fr;
  align-items: center;
  height: 118.59px;
  width: 100%;
  padding: 37.4881px 0px;
}
.input{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.formMain{
  display: grid;
}

.unit{
  color:#979b9e;
}

.hr{    
  height: 1PX;
  color: #e7ebee;
}

.img{
  display:inline-block;
  size: 18px*18px;
  color:#979b9e;
} 
.section{
  height: 300px;
}
.calcResult{
  font-size: 20px;
  position: relative;
  padding-bottom: 100px;
}
.history{
  background-color: #23c993;
  color: white;
  padding: 15px 30px 100px 30px;
  display: grid;
  background-image: url();
  position:absolute;
  width: 100%;
}
.history >div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.history >div>h1{
  font-size:32px;
  font-weight: 700;
}

.detail{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 30px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
  margin-left: 5%;
  margin-bottom: 50px;
  position:absolute;
  top:160px;
  box-shadow: rgb(231 235 238) 0px 1px 5px 0px;
}
