.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .picker {
    position: fixed;
    bottom: 0; 
    background-color: #fff;
    width: 100%;
    height: 6rem;
    transition: transform 0.3s ease-out;
  }
  /* .selectedValue {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: -12px;
  } */
  .picker.open {
    position: fixed;
    bottom: 7rem; 
    transform: translateY(-100%); /* 将transform属性设为负数，让其从底部升起 */
  }
  .head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color:#f8f9fb;
    padding: 0.4rem 0.6rem;
    font-size: 0.5rem;
    font-weight: 420;
  }
  .cancel{
    text-align: left;
  }
  .confirm{
    color: #1fb081;
    text-align: right;
  }
  /* .main {
    height: 8rem;
    padding: 4rem 0rem 4rem 0rem;
    overflow-y: scroll;
    font-size: 1rem;
    text-align: center;
  } */
  .wrapper {
    position: relative;
  }
  .main::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
    }
    .main {
      height: 8rem;
      padding: 0.5rem 0rem 4rem 0rem;
      overflow-y: scroll;
      font-size: 0.5rem;
      text-align: center;
      /* 确保覆盖层相对于主体定位 */
  }
  
.option {
  font-size: 0.5rem;
  padding: 0.1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.selected {
  background-color:#1fb081;
  color: white;
}

.selectBox {
  background-color: #f1f1f1;
  border-radius: 0.1rem;
  padding: 0.1rem;
  margin-left: 0.1rem;
  width: 100%;
  text-align: center;
}
  .selectedValue {
    font-size: 0.5px;
    font-weight: bold;
  }
  
  