.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8;
  }
  .picker {
    position: fixed;
    bottom: 4rem; 
    background-color: #fff;
    margin: 1rem;
    width: 100%;
    height: 13rem;
    transition: transform 0.3s ease-out;
  }
  .selectedValue {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: -16px;
  }
  .picker.open {
    position: fixed;
    bottom: 4rem; 
    transform: translateY(-100%); /* 将transform属性设为负数，让其从底部升起 */
  }
  .head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color:#f8f9fb;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    font-weight: 460;
  }
  .cancel{
    text-align: left;
  }
  .confirm{
    color: #1fb081;
    text-align: right;
  }
  /* .main {
    height: 8rem;
    padding: 4rem 0rem 4rem 0rem;
    overflow-y: scroll;
    font-size: 1rem;
    text-align: center;
  } */
  .wrapper {
    position: relative;
  }
  .main::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
    }
    .main {
      height: 8rem;
      padding: 4rem 0rem 4rem 0rem;
      overflow-y: scroll;
      font-size: 1rem;
      text-align: center;
      /* 确保覆盖层相对于主体定位 */
  }
  

  
  